<%- include('partials/header', {title: 'Quiz Page.'}); %>

<h1 id="top">クイズページ</h1>
<p id="question"></p>
<ul id="answer-container">
</ul>
<p id="result"></p>
<button id="reset-btn">Reset</button>

<p style="border-top: 1px solid #a9a9a9"></p>
<p><a href="/">トップページへ戻る</a></p>

<script src="js/main.js"></script>
<%- include('partials/footer'); %>